.jumbotron{
    background-color: skyblue;
    text-align: center;
}

table, td, tr {
    border: 1px solid black;
  }
.display{
    font-size: small;
}
.card{
    width: 100%;
    border-style: solid;
    border-color:skyblue;
}

.card-header{
    background-color: skyblue;
}

#userInputForm{
    margin-top:30px;
}
.title{
    font-weight: bold;
}
.refresh{
    margin-left :30px;
}